#wrapper{
    border: 100px;
}
#checkout{
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline;*/
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
}
#form{
    margin-left: 125px;
    display: inline-block;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    padding: 10px;
}
#artikel{
    float: right;
}
#divPrijsEnBetaalKnop{
    float: right;
    display: inline-block;
    width:360px;
    height: auto;
    border: 1px;
    margin-right: 155px;
    background-color: #5C6EFF;
    border-radius: 15px;
}
#prijs{

}
#naam{
    float: left;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline;*/
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
}
#achternaam{
    float: right;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline;*/
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
}
#submit{
    border-radius: 20px;
    width: 360px;
    float: bottom;
}

.formLabel {
    display:block;
}

.formName {
    display:inline-block;
}
