#wrapper{
    border: 100px;
}
#checkout{
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline;*/
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
}
#form{
    border-radius: 5px;
    padding-left: 125px;
    width: 50%;
    display: inline-block;
    height:120px;
    border: 1px;
    /*display: flex;*/
    /*background-color: #f2f2f2;*/
    /*padding: 20px;*/
}
#artikel{
    float: right;
}
#divPrijsEnBetaalKnop{
    float: right;
    display: inline-block;
    width:360px;
    height: auto;
    border: 1px;
    margin-right: 155px;
    background-color: #5C6EFF;
    border-radius: 15px;
}
#prijs{

}
#naam{
    float: left;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline;*/
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
}
#achternaam{
    float: right;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline;*/
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
}
#submit{
    border-radius: 20px;
    width: 360px;
    float: bottom;
}
